/* Homepage section */
.heading {
    position: relative;
    height: 22rem;
}


.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
} 

/* Content container */

.checked {
    color: orange;
}

.profile-cover{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.profile-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.profile-img {
    width: 100%;
    border-radius: 3px;
}

.profile-description {
    font-size: larger;
}

.profile-name {

}

.profile-location {

}

.profile-major {

}

.profile-degree {

}

.profile-rating {
    display: flex;
    font-size: 43px;
    align-self: center;
    align-items: center;
}

.profile-upvote {
    font-size: 30px;
    padding-right: 16px;
}

.profile-rating > h3 {
    font-size: 22px;
}

.profile-course {

}

.profile-criteria-container { 
    position: relative;
    top: 50px;
}

.profile-criteria {
    font-size: 14px;
    display: flex;
    align-content: center;
    align-items: center;
    
}

.profile-criteria h2 {
    min-width: 170px;
}

.profile-criteria span {
    font-size: 20px;
}

.profile-button {
    width: 220px;
    height: 50px;
    border: 1px solid black;
    border-radius: 32px;
    background-color: #0074e7;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
}

.profile-button:hover {
    opacity: 0.8;
}


/* Comment section */

.comment-cover {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    
}

.comment-count {
    font-size: 22px;
    left: 32px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
    align-items: flex-end;
}

.comment-box {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 1200px;
    margin-bottom: 32px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
}



.comment-header {
    display: flex;
    flex-direction: row;
    
}

.comment-course-name {
    font-size: 24px;
    font-weight: 800;
    padding: 12px;
    margin-right: 44px;
}

.comment-overall {
    padding: 12px;
    font-size: 24px;
    font-weight: 800;
}

.comment-good {
    background-color: #7FF63C;
}

.comment-bad {
    background-color: #FF9C9C;
}

.comment-date {
    margin-left: auto;
    font-size: 14px;
    font-weight: 550;
}

.comment-profile {
    display: flex;
    flex-direction: row;
}

.comment-profile-attribute {
    padding: 16px;
    display: flex;
    font-size: 18px;
    align-self: center;
    line-height: 1.6rem;
    font-weight: 500;
}

.comment-profile-attribute > p {
    padding-right: 10px;
}

.comment-profile-pass {
    
}

.comment-profile-attendace {
    
}

.comment-profile-grade {
    
}

.comment-profile-textbook {

}

.comment-comment {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    ;
}

.comment-feedback {
    font-size: 18px;
    flex-grow: 0.4;
    padding: 50px;
    max-width: 600px;
    line-height: 24px;
}

.comment-star-rating {

}

.comment-report {
    margin-left: auto;
    margin-bottom: auto;
    font-size: 22px;
}

.profile-criteria h4 {
    min-width: 120px;
    line-height: 16px;
    margin: 12px;
}

/* Modal section */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    min-height: 200px;
    width: 900px;
    position: relative;
    /* padding: 26px; */
    animation: modalFadein ease .8s;
}

.modal-header {
    height: 120px;
    background-color: #000054;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    position:absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    font-size: 24px;
    cursor: pointer;
}

.feedback{
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

.modal-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.course-name {
    margin-bottom: 24px;
}
.course-name > select{
    margin-left: 16px;
}

.starrating-container {
    display: flex;
    flex-direction: column;
}

.survey-hr{
    margin:10px 0;
    border: .5px solid #ddd;
}

.feedback form input,
.feedback form textarea{
    width: 100%;
    border: 1px solid #ddd;
}

.star-rating {
    margin: 25px 0 0px;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }

.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}
.star-rating i ~ i {
    width: 40%;
}
.star-rating i ~ i ~ i {
    width: 60%;
}
.star-rating i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}

.rating > label {
    display: inline-block;
    min-width: 150px;
}

.submit-button:hover {
    opacity: 0.8;
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
