/* Common */
body {
    margin: 0;
    background-color: #f2f1ec;
    transition: 0.3s linear;
    scroll-behavior: smooth;
}

/* Heading page */
.heading-page {
    position: relative;
    height: 65vh;
}

.heading__brand {
    text-align:center;
    font-size: 2.8rem;
    color: white;
    font-weight: 500;
    width: 100px;
    display: inline-block;
    color:rgba(255, 189, 89,1);
}

.heading__brand__logo {
    display: inline-block;
}

.heading__brand__slogan {
    display: inline-block;
}

.nav {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 28px;
    line-height: 26px;
    padding: 0 80px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.extra__info {
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
}
.subnav {
    text-decoration: none;
    color: white;
    margin-left: 32px;
    font-size: 1.8rem;
    line-height: 46px;
}

.subnav {
    background: linear-gradient(45deg, #4bd0fa -4.45%, #3a60f2 104.12%);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    transition: color .1s ease-in-out;
}

.subnav:hover{
  color:rgba(0,0,0,0);
}

.subnav {
    position: relative;
}
  
.subnav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #83b8ff;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}
  
.subnav:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.heading-page__img {
    background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%)), url('https://raw.githubusercontent.com/minhnguyen200703/Intro-to-IT/main/asset/img/heading-bg.png');
    background-size: cover;
    color: white;
    width: 100%;
    height: 65vh;
}

.heading-page__intro {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.heading-page__intro h1 {
    color: rgba(255, 189, 89,1);
    font-size: 4rem;
}

.heading-page__intro h3,
.heading-page__intro h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}

.heading-page__intro a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    border-radius: 5px;
}

.heading-page__socials {
    position: absolute;
    right: 24px;
    bottom: 0;
    bottom: 50px;
}

.heading-page__socials a {
    font-size: 2.2rem;
    margin-top: 14px;
    color: rgb(255, 255, 255);
    display: block;
}

.heading-page__socials a:hover {
    opacity: 0.7;
}


/* About section */
.homepage__content {
}

.about-section {
    margin: 4% 12% 0;
}

.title-template {
    line-height: 0em;
    display: inline-block;
    padding-bottom: 0.5em;
    /* background-color: rgba(255, 189, 89,1);  */
    /* #72c78d8f */
    background-color: #66ac828c;
    font-weight: 600;
    font-size: 2.4rem;
    padding: 0 4px 16px 4px;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.about-introduction__content {
    text-align: justify;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 22px;
}

.about-introduction__img{
    width: 45%;
    margin: 22px 0;
}

.about-introduction__img img{
    width: 100%;
}

/* Team member */
.team_member__bg-img {
    height: 75vh;
}
  
.team-member {
    margin-top: 60px;
    height: 65vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%)), url('https://raw.githubusercontent.com/minhnguyen200703/Intro-to-IT/main/asset/img/meet_the_team-bg.png');
}
  
.team_member__bg-img {
}

.team-member__heading {
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 2.4rem;
    color: rgb(255, 255, 255) !important;
}
  
.main-card{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1.2s;
}
  
#two:checked ~ .main-card{
    margin-left: -100%;
}
  
.member-card__container{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 90px;
    justify-content: space-around;
}
  
.member-card__item{
    background-color: #f2f1ec;
    width: 20%;
    border-radius: 14px;
    padding: 12px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    font-size: 1.5rem;
}

.member-card__name {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    margin: 0 0 10px;
}

.member-card__position {
    margin: 0 0 20px;
    color:#1ea0f2;
    font-size: 1.5rem;
}

.member-card__desc {
    margin: 0 0 10px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.8;
}

.member-card__item .view-icon{
    font-size: 1.4rem;
    opacity: 0.6;
}

/* .member-card__item:hover{
    transform: translateY(-16px);
} */
  
.member-card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.member-card__img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    /* background: #1ea0f2; */
    margin-bottom: 22px;
}
  
.member-card__img>img{
    height: 100%;
    width: 100%;
    /* border: 3px solid #ffff; */
    border-radius: 50%;
    object-fit: cover;
}
  
.team-member .slider-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.slider-button label {
    height: 12px;
    border-radius: 20px;
    background-color:white;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1000;
}
  
.slider-button label.active{
    width: 35px;
}
#one:checked ~ .slider-button .one{
    width: 35px;
}
#one:checked ~ .slider-button .two{
    width: 15px;
}
#two:checked ~ .slider-button .one{
    width: 15px;
}
#two:checked ~ .slider-button .two{
    width: 35px;
}
input[type="radio"]{
    display: none;
}


/* membership-benefits*/
.subtitle-template {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 3px solid #fd6666;
    font-size: 2.2rem;
    font-weight: 600;
    box-sizing: content-box;
}

.mem-benefit {
    margin: 4% 12% 0;
    text-align:center;
}

.mem-benefit__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mem-benefit__item {
    border-radius: 5px;
    margin: 45px 10px 20px;
    width: 28%;
    padding: 20px 20px 10px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.mem-benefit__item:hover {
    cursor: pointer;
    background-color: rgba(114, 117, 119, 0.3);
}

.mem-benefit__item__icon {
    font-size: 4rem;
    color: rgb(51 174 230); 
}

.mem-benefit__item__title {
    margin-top: 24px;
}

.mem-benefit__item__desc {
    font-size: 1.5rem;
}

.mem-benefit>p {
    padding: 20px 0 36px;
    font-size: 1.5rem;
}

/* Footer section */
.footer-section {
    background-color: #1d1a1a;
    padding: 28px 82px 8px;
}

.footer-section a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 20px; */
}

.contact-information__container {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
}

.footer__logo-brand {
    width: 100%;
}
.footer__logo-brand p {
    color: #919191;
    font-size: 1.5rem;
}

.footer__brand__logo {
    color: rgba(255, 189, 89,1);
    padding-right: 6px;
}

.footer__brand__slogan {
    color: rgba(255, 189, 89,1);
}

.footer__brand__logo,
.footer__brand__slogan {
    font-size: 3.4rem;
    font-weight: 500;
    display: inline-block;
}

.social-media__icons {
    font-size: 1.6rem;
}

.social-media__icons a {
    font-weight: bold;
    display: inline-block;
    margin: 20px 28px 0 0;
    color: #ffffff;
}

.social-media__icons a {
    text-decoration: none;
    color: #ffffff;
}

.footer-navigation__container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: #ffffff;
}

.footer-navigation__item a {
    font-size: 1.4rem;
    line-height: 22px;
    display: block;
    text-decoration: none;
    color: #919191;
}

.footer-contact__container {
    margin-top: 24px;
    width: 100%;
}

.footer-contact__item {
    font-size: 1.4rem;
    line-height: 20px;
}

.footer-contact__item .my_info__icon {
    width: 16px;
    color: #919191;
    display: inline-block;
}

.footer-contact__item .my-info__detail {
    line-height: 20px;
    text-decoration: none;
    color: #919191;
    display: inline-block;
}

.footer-extra-content {
    display: flex;
    justify-content: space-between;
}

.copy-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.copy-right p {
    font-size: 1.4rem;
    color: #919191;
}

.copy-right p a {
    text-decoration: none;
    color: #919191;
}
