/* Homepage section */
.heading {
    position: relative;
    height: 22rem;
}


/* Nav */

.nav_searchbar{
}

.nav_searchbar input{
    float: right;
    padding: 24px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: 52rem;
    height: 5rem;
    border-radius: 2px;
}

.nav_avatar {
    width: 30px;
    position: relative;
    top: 7px;
    border-radius: 16px;
}



/* Content container */

.review-container {
    min-height: 900px;
}

.review-search-quantity {
    font-size: 22px;
}

.review-department {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    padding: 16px;
}

.review-department h1 {
    font-size: 30px;
    padding-right: 2rem;
}

.review-department-menu {
    height: 16px;
    size: 16px;
    display: flex;
    align-items: center;
}

.review-department-menu select {
    min-height: 24px;
}

.review-container {
    display: block;
    width: 50%;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 15%;
}

.review-container .review-teacher {
    background-color: rgb(247, 247, 247);
    box-shadow: rgb(57 62 66 / 26%) 0px 1px 2px 0px, rgb(143 152 158 / 15%) 0px 1px 3px 1px;
    width: 100%;
    height: 200px;
    color: #000;
    border: 5px solid rgb(247, 247, 247);
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
    display: flex;
    column-gap: 6rem;
    row-gap: 1rem;
    justify-content: space-between;
}

.review-teacher img {
    width: 14rem;
    border-radius: 5px;
}

.review-teacher-profile {
    flex-grow: 7;
}

.review-teacher-vote > h3 {
    display: inline-block;
    min-width: 60px;
    margin-left: 12px;
}

.review-teacher-vote {
    display: flex;
    font-size: 3rem;
    align-items: center;
    
}

.review-teacher-upvote {   
    font-size: 6rem;
    display: flex;
    padding-right: 12px;
}

