
/* CONTACT PAGE */
.register-page,
.login-page,
.contact-page {
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.contact-page {
    /* background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%));
    background-image: linear-gradient(45deg, #4bd0fa -4.45%, #3a60f2 104.12%);
    background-image: linear-gradient(45deg, #F62682 -4.45%, #6F5CF1 104.12%);; */
    /* background-image: linear-gradient(
        to right,
        #25aae1,
        #40e495
   ); */
    background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%));

}

.contact-page a:hover {
    opacity: 0.7;
}

.register-page img,
.login-page img,
.contact-page img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.back-btn {
    position: absolute;
    top: 40px;
    left: 60px;
    text-decoration: none;
    color: rgba(255, 189, 89,1);
    font-size: 2.4rem;
    font-weight: bold;
}

.back-btn:hover {
    opacity: 0.7;
}

.register-page .heading__brand,
.login-page .heading__brand,
.contact-page .heading__brand {
    margin-top: 45px;
    font-size: 3rem;
}


.contact-content {
    background-color: #f2f1ec;
    border-radius: 5px;
    text-align: initial;
    display: flex;
    justify-content: space-between;
    margin: 8% 22% 10%;
}

.our-info {
    width: 30%;
}

.our-info__heading {
    color: rgba(255, 189, 89,1);
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 30px;
}

.our-info__container {
    display: flex;
    flex-wrap: wrap;
}

.our-info__item {
    width: 100%;
    padding: 8px 0;
}

.our-info__item i {
    width: 25px;
    color: white;
    font-size: 1.8rem;
}

.our-info__item a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.our-info__item:last-child {
    margin-bottom: 60px;
}

.our-social__container {
    display: flex;
}

.our-social__container i {
    margin-right: 24px;
    color: white;
    font-size: 2.2rem;
}

.client-info {
    background-color: #f2f1ec;
    width: 45%;
    padding: 0 24px 50px;
    border-radius: 6px;
    position: relative;
}

.client-info h1 {
    font-size: 2.6rem;
    margin-bottom: 33px;
}

.client-info__frames {
    display: flex;
    flex-wrap: wrap;
}

.client-info__frames input {
    background-color: #f2f1ec;
}

input:focus {
    outline: none;
}

.client-info__name,
.client-info__email,
.client-info__message {
    font-size: 1.6rem;
    border-radius: 2px;
    margin-bottom: 16px;
    padding-left: 12px;
    border: none;
    width: 100%;
    height: 40px;
    box-shadow: rgba(54, 61, 61, 0.3) 0px 1px 2px 0px, rgba(26, 29, 30, 0.15) 0px 1px 3px 1px;
}

.client-info__message {
    height: 80px;
    padding-bottom: 40px;
}

.submit-btn {
    border: solid 0.5px black;
    border-radius: 4px;
    background-color: rgba(255, 189, 89,1);
    position: absolute;
    right: 24px;
    padding: 8px 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color:#ff7e7e;
    cursor: pointer;
}

.commitment {
    color: white;
    font-size: 1.6rem;
}

/* Login page */
.register-page,
.login-page {
    height: 100vh;
    position: relative;
    text-align: center;
}

.register-content,
.login-content {
    width: 26%;
    margin: auto;
    background-color: #f2f1ec;
    border-radius: 12px;
    margin-top: 8%;
}

.register-content__heading,
.login-content__heading {
    margin-top: 0;
    padding-top: 32px;
    font-size: 2.8rem;
}

.register-container,
.login-container {
    padding: 16px 36px;
}

.register-item,
.login-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #919191;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.login-item i {
    display: inline-block;
    font-size: 2.2rem;
    color: #919191;
}

.register-item input,
.login-item input {
    font-size: 1.5rem;
    display: inline-block;
    border: none;
    width: 100%;
    padding-left: 12px;
    color: #747070;
    background-color: #f2f1ec;

}

.register-btn,
.login-btn {
    width: 100%;
    background-color:rgb(241, 90, 115);
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 6px;
}

.register-btn:hover,
.login-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.extra-register-content,
.extra-login-content {
    padding-left: 36px;
    text-align: initial;
}

.extra-register-content p,
.extra-login-content p{
    color: #919191;
    font-size: 1.5rem;
}

.extra-register-content p:first-child,
.extra-login-content p:first-child {
    text-decoration: underline;
}

.extra-register-content p:first-child:hover,
.extra-login-content p:first-child:hover {
    cursor: pointer;
}

.extra-register-content p:last-child,
.extra-login-content p:last-child {
    padding-bottom: 36px;
    margin-bottom: 0;
}

.extra-register-content p a,
.extra-login-content p a {
    color:#1ea0f2;
    opacity: 1;
}


/* Register form */
.register-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register-item {
    width: 100%;
}

.register-item:nth-child(1),
.register-item:nth-child(2) {
    width: 48%;
}

.register-item__label {
    font-size: 1.6rem;
}

.check_agree {
    width: 100%;
    background-color: #f2f1ec;
    text-align: initial;
}

.check_agree__checkbox {
    text-align: initial;
}

.check_agree__label,
.check_agree__label a {
    display: inline-block;
    margin: 3px 3px 3px 4px;
    color: #747070;
    font-size: 1.5rem;
    text-align: initial;
}
input[type="checkbox"]
{
    transform: scale(1.2);
    vertical-align: middle;
}

/* CONTACT PAGE */
.register-page,
.login-page,
.contact-page {
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.contact-page {
    /* width: 100%;
    background-color: grey;
    display: flex;
    justify-content: flex-end */
    /* background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%)); */
    background: linear-gradient(72deg, #393846 47%, #23212c 16%);
}

.contact-page a:hover {
    opacity: 0.7;
}

.register-page img,
.login-page img,
.contact-page img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.back-btn {
    position: absolute;
    top: 40px;
    left: 60px;
    text-decoration: none;
    color: rgba(255, 189, 89,1);
    font-size: 2.4rem;
    font-weight: bold;
}

.back-btn:hover {
    opacity: 0.7;
}

.register-page .heading__brand,
.login-page .heading__brand,
.contact-page .heading__brand {
    margin-top: 45px;
    font-size: 3rem;
}


.contact-content {
    border-radius: 5px;
    text-align: initial;
    display: flex;
    justify-content: space-between;
    margin: 220px 180px 100px;
}

.our-info {
    width: 30%;
}

.our-info__heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 30px;
}

.our-info__container {
    display: flex;
    flex-wrap: wrap;
}

.our-info__item {
    width: 100%;
    padding: 8px 0;
}

.our-info__item i {
    width: 25px;
    color: white;
    font-size: 1.5rem;
}

.our-info__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.our-info__item:last-child {
    margin-bottom: 60px;
}

.our-social__container {
    display: flex;
}

.our-social__container i {
    margin-right: 24px;
    color: white;
    font-size: 2rem;
}

.client-info {
    width: 35%;
    padding: 0 24px 50px;
    border-radius: 6px;
    position: relative;
}

.client-info h1 {
    color: #c2886b;
    font-size: 3rem;
    margin-bottom: 33px;
}

.client-info__frames {
    display: flex;
    flex-wrap: wrap;
}

.client-info__frames input {
    color: #c2886b;
    font-size: 1.5rem;
    background-color: #23212c ;
    border: none;
    border-bottom: 1px solid #c2886b;
}

.client-info__frames input::placeholder {
    color: #c2886b;
  }

input:focus {
    outline: none;
}

.client-info__name,
.client-info__email,
.client-info__message {
    font-size: 1.6rem;
    border-radius: 2px;
    margin-bottom: 16px;
    border: none;
    width: 100%;
    height: 30px;
    box-shadow: rgba(54, 61, 61, 0.3) 0px 1px 2px 0px, rgba(26, 29, 30, 0.15) 0px 1px 3px 1px;
}

.client-info__message {
}

.submit-btn {
    border: solid 0.5px black;
    border-radius: 4px;
    background-color: rgba(255, 189, 89,1);
    position: absolute;
    right: 24px;
    padding: 8px 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color:#ff7e7e;
    cursor: pointer;
}

.commitment {
    color: #c2886b;
    font-size: 1.6rem;
}

/* Login page */
.register-page,
.login-page {
    height: 100vh;
    position: relative;
    text-align: center;
}

.register-content,
.login-content {
    width: 26%;
    margin: auto;
    background-color: #f2f1ec;
    border-radius: 12px;
    margin-top: 8%;
}

.register-content__heading,
.login-content__heading {
    margin-top: 0;
    padding-top: 32px;
    font-size: 2.8rem;
}

.register-container,
.login-container {
    padding: 16px 36px;
}

.register-item,
.login-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #919191;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.login-item i {
    display: inline-block;
    font-size: 2.2rem;
    color: #919191;
}

.register-item input,
.login-item input {
    font-size: 1.5rem;
    display: inline-block;
    border: none;
    width: 100%;
    padding-left: 12px;
    color: #747070;
    background-color: #f2f1ec;

}

.register-btn,
.login-btn {
    width: 100%;
    background-color:rgb(241, 90, 115);
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 6px;
}

.register-btn:hover,
.login-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.extra-register-content,
.extra-login-content {
    padding-left: 36px;
    text-align: initial;
}

.extra-register-content p,
.extra-login-content p{
    color: #919191;
    font-size: 1.5rem;
}

.extra-register-content p:first-child,
.extra-login-content p:first-child {
    text-decoration: underline;
}

.extra-register-content p:first-child:hover,
.extra-login-content p:first-child:hover {
    cursor: pointer;
}

.extra-register-content p:last-child,
.extra-login-content p:last-child {
    padding-bottom: 36px;
    margin-bottom: 0;
}

.extra-register-content p a,
.extra-login-content p a {
    color:#1ea0f2;
    opacity: 1;
}


/* Register form */
.register-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register-item {
    width: 100%;
}

.register-item:nth-child(1),
.register-item:nth-child(2) {
    width: 48%;
}

.register-item__label {
    font-size: 1.6rem;
}

.check_agree {
    width: 100%;
    background-color: #f2f1ec;
    text-align: initial;
}

.check_agree__checkbox {
    text-align: initial;
}

.check_agree__label,
.check_agree__label a {
    display: inline-block;
    margin: 3px 3px 3px 4px;
    color: #747070;
    font-size: 1.5rem;
    text-align: initial;
}
input[type="checkbox"]
{
    transform: scale(1.2);
    vertical-align: middle;
}

/* CONTACT PAGE */
.register-page,
.login-page,
.contact-page {
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.contact-page {
    /* width: 100%;
    background-color: grey;
    display: flex;
    justify-content: flex-end */
    /* background-image: linear-gradient(to bottom, rgb(25 25 27 / 52%), rgb(20 20 22 / 85%)); */
    background: linear-gradient(72deg, #393846 47%, #23212c 16%);
}

.contact-page a:hover {
    opacity: 0.7;
}

.register-page img,
.login-page img,
.contact-page img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.back-btn {
    position: absolute;
    top: 40px;
    left: 60px;
    text-decoration: none;
    color: rgba(255, 189, 89,1);
    font-size: 2.4rem;
    font-weight: bold;
}

.back-btn:hover {
    opacity: 0.7;
}

.register-page .heading__brand,
.login-page .heading__brand,
.contact-page .heading__brand {
    margin-top: 45px;
    font-size: 3rem;
}


.contact-content {
    border-radius: 5px;
    text-align: initial;
    display: flex;
    justify-content: space-between;
    margin: 220px 180px 100px;
}

.our-info {
    width: 30%;
}

.our-info__heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 30px;
}

.our-info__container {
    display: flex;
    flex-wrap: wrap;
}

.our-info__item {
    width: 100%;
    padding: 8px 0;
}

.our-info__item i {
    width: 25px;
    color: white;
    font-size: 1.5rem;
}

.our-info__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.our-info__item:last-child {
    margin-bottom: 60px;
}

.our-social__container {
    display: flex;
}

.our-social__container i {
    margin-right: 24px;
    color: white;
    font-size: 2rem;
}

.client-info {
    width: 35%;
    padding: 0 24px 50px;
    border-radius: 6px;
    position: relative;
}

.client-info h1 {
    color: #c2886b;
    font-size: 3rem;
    margin-bottom: 33px;
}

.client-info__frames {
    display: flex;
    flex-wrap: wrap;
}

.client-info__frames input {
    color: #c2886b;
    font-size: 1.5rem;
    background-color: #23212c ;
    border: none;
    border-bottom: 1px solid #c2886b;
}

.client-info__frames input::placeholder {
    color: #c2886b;
  }

input:focus {
    outline: none;
}

.client-info__name,
.client-info__email,
.client-info__message {
    font-size: 1.6rem;
    border-radius: 2px;
    margin-bottom: 16px;
    border: none;
    width: 100%;
    height: 30px;
    box-shadow: rgba(54, 61, 61, 0.3) 0px 1px 2px 0px, rgba(26, 29, 30, 0.15) 0px 1px 3px 1px;
}

.client-info__message {
}

.submit-btn {
    border: solid 0.5px black;
    border-radius: 4px;
    background-color: rgba(255, 189, 89,1);
    position: absolute;
    right: 24px;
    padding: 8px 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color:#ff7e7e;
    cursor: pointer;
}

.commitment {
    color: #c2886b;
    font-size: 1.6rem;
}

/* Login page */
.register-page,
.login-page {
    height: 100vh;
    position: relative;
    text-align: center;
}

.register-content,
.login-content {
    width: 26%;
    margin: auto;
    background-color: #f2f1ec;
    border-radius: 12px;
    margin-top: 8%;
}

.register-content__heading,
.login-content__heading {
    margin-top: 0;
    padding-top: 32px;
    font-size: 2.8rem;
}

.register-container,
.login-container {
    padding: 16px 36px;
}

.register-item,
.login-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #919191;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.login-item i {
    display: inline-block;
    font-size: 2.2rem;
    color: #919191;
}

.register-item input,
.login-item input {
    font-size: 1.5rem;
    display: inline-block;
    border: none;
    width: 100%;
    padding-left: 12px;
    color: #747070;
    background-color: #f2f1ec;

}

.register-btn,
.login-btn {
    width: 100%;
    background-color:rgb(241, 90, 115);
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 6px;
}

.register-btn:hover,
.login-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.extra-register-content,
.extra-login-content {
    padding-left: 36px;
    text-align: initial;
}

.extra-register-content p,
.extra-login-content p{
    color: #919191;
    font-size: 1.5rem;
}

.extra-register-content p:first-child,
.extra-login-content p:first-child {
    text-decoration: underline;
}

.extra-register-content p:first-child:hover,
.extra-login-content p:first-child:hover {
    cursor: pointer;
}

.extra-register-content p:last-child,
.extra-login-content p:last-child {
    padding-bottom: 36px;
    margin-bottom: 0;
}

.extra-register-content p a,
.extra-login-content p a {
    color:#1ea0f2;
    opacity: 1;
}


/* Register form */
.register-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register-item {
    width: 100%;
}

.register-item:nth-child(1),
.register-item:nth-child(2) {
    width: 48%;
}

.register-item__label {
    font-size: 1.6rem;
}

.check_agree {
    width: 100%;
    background-color: #f2f1ec;
    text-align: initial;
}

.check_agree__checkbox {
    text-align: initial;
}

.check_agree__label,
.check_agree__label a {
    display: inline-block;
    margin: 3px 3px 3px 4px;
    color: #747070;
    font-size: 1.5rem;
    text-align: initial;
}
input[type="checkbox"]
{
    transform: scale(1.2);
    vertical-align: middle;
}
